<!DOCTYPE html>
<html>
<head>
    <title>365Scores Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/365scores.css" rel="stylesheet" media="screen">
</head>
<body ng-app="ScoresApp"  ng-controller="ScoresCtrl">
<div class="header">
    <div class="logo-wrapper">
        <a href="index.html"><img src="images/logo.png" alt="365Scores"></a>
    </div>
</div>
<div class="sidebar" ng-class="class">
    <i class="fa fa-bars fa-2x " aria-hidden="true" ng-click="changeClass()"></i>
    <ul>
        <li class="current" ng-click="changeClass()"><a href="">Scores</a></li>
        <li><a href="" ng-click="changeClass()">News</a></li>
        <li><a href="" ng-click="changeClass()">Transfers</a></li>
        <li><a href="" ng-click="changeClass()">Highlights</a></li>
        <li><a href="" ng-click="changeClass()">Videos</a></li>
        <li><a href="" ng-click="changeClass()">My Profile</a></li>
    </ul>
</div>
<div class="main-section" ng-init="init()" ng-cloak>


    <!-- Sunday, 27 March -->
    <!--<div class="centered-box">
        <div class="day-grouping">
            Sunday, 27 March
        </div>
    </div>
    <div class="scores-box">
        <div class="scores-box-header">
            <img src="images/logo.png" width="30" height="20">
            <h3>Champions League</h3>
        </div>
        <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                FC Barcelona
            </div>
            <div class="status-wrapper status-past">
                <div class="score">
                    3-1
                </div>
                <span class="status">Finished</span>
            </div>
            <div class="side2">
                FC Bayern Munchenan

            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper status-past">
                <div class="score">
                    5-3
                </div>
                <span class="status">Finished</span>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
    </div>-->

    <!-- Today -->
    <div class="centered-box">
        <div class="day-grouping">
            Today
        </div>
    </div>
    <div class="scores-box" ng-repeat="leagues in scores.Competitions">
        <div class="scores-box-header">
            <img src="http://imagescache.365scores.com/image/upload/w_140,h_140,c_limit,f_webp,q_90,d_Countries:Round:default.png/Countries/Round/{{ leagues.CID }}" width="30" height="20">
            <h3>{{ leagues.Name }}</h3>
        </div>
        <div class="scores-box-row" ng-repeat="score in scores.Games | filter: {Comp: leagues.ID} | orderBy: 'STime'">
            <div class="logo1">
                <img src="http://imagescache.365scores.com/image/upload/w_48,h_48,c_limit,f_webp,q_90,d_Competitors:default1.png/Competitors/{{ score.Comps[0].ID}}">
            </div>
            <div class="side1">
                {{ score.Comps[0].Name }}
            </div>
            <div class="status-wrapper">
                <div class="extra" ng-if="score.GT <= 45 && score.Active">First Half</div>
                <div class="extra" ng-if="score.GT > 45 && score.Active">Second Half</div>
                <div class="extra" ng-if="! score.Active">&nbsp;</div>
                <div class="score" ng-if="score.Active">
                    <span ng-if="score.Scrs[0] >= 0">{{score.Scrs[0] + " - "}}</span>
                    <span ng-if="score.Scrs[1] >= 0">{{score.Scrs[1]}}</span>
                </div>
                <div class="score" ng-if="!score.Active">    <!--&& score.hasOwnProperty('Scrs')-->
                    <span ng-if="score.Scrs[0] >= 0">{{score.Scrs[0] + " - "}}</span>
                    <span ng-if="score.Scrs[1] >= 0">{{ score.Scrs[1]}}</span>
                </div>
                <!--<div class="score" ng-if="! score.Active && ! score.hasOwnProperty('Scrs')">
                    {{ formatDate(score.STime) | date:'dd/MM hh:mm' }}
                </div>-->
                <div class="score" ng-if="! score.Active && score.Scrs[0] < 0 && score.Scrs[1] < 0">
                    {{ formatDate(score.STime) | date:'hh:mm' }}
                </div>
                <span class="live" ng-if="score.Active">LIVE - '{{score.GT}}</span>
                <span class="finished" ng-if="!score.Active &&  score.Scrs[0] >= 0 && score.Scrs[1] >= 0">Finished</span>
            </div>
            <div class="side2">
                {{ score.Comps[1].Name }}
            </div>
            <div class="logo2">
                <img src="http://imagescache.365scores.com/image/upload/w_48,h_48,c_limit,f_webp,q_90,d_Competitors:default1.png/Competitors/{{ score.Comps[1].ID}}">
            </div>
        </div>
       <!-- <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper">
                <div class="extra">First Half</div>
                <div class="score">
                    1-1
                </div>
                <span class="live">LIVE - '20</span>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>-->
    </div>
   <!-- <div class="scores-box">
        <div class="scores-box-header">
            <img src="images/logo.png" width="30" height="20">
            <h3>Champions League</h3>
        </div>
        <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                FC Barcelona
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    19:45
                </div>
            </div>
            <div class="side2">
                FC Bayern Munchen

            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    20:00
                </div>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
    </div>-->

    <!-- Tomorrow -->
   <!-- <div class="centered-box">
        <div class="day-grouping">
            Tomorrow
        </div>
    </div>
    <div class="scores-box">
        <div class="scores-box-header">
            <img src="images/logo.png" width="30" height="20">
            <h3>Champions League</h3>
        </div>
        <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                FC Barcelona
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    12:40
                </div>
            </div>
            <div class="side2">
                FC Bayern Munchen

            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="scores-box-row">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    12:40
                </div>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
    </div>-->
</div>
<script src="node_modules/angular/angular.min.js"></script>
<script src="src/app.js"></script>
<script src="src/services/ScoresFactory.js"></script>
<script src="src/controllers/ScoresCtrl.js"></script>
</body>
</html>